<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>122107118931-ej4e0pq6240jrm77im3viv0dbccv7hpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122107118931-ej4e0pq6240jrm77im3viv0dbccv7hpt</string>
	<key>API_KEY</key>
	<string>AIzaSyDmg7b64rwxCPexhLMTY9IRU4ycc-PcHnE</string>
	<key>GCM_SENDER_ID</key>
	<string>122107118931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlayPal.PlayPal-Firebase</string>
	<key>PROJECT_ID</key>
	<string>playpalauthentication</string>
	<key>STORAGE_BUCKET</key>
	<string>playpalauthentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122107118931:ios:733a5f0e2a057488</string>
	<key>DATABASE_URL</key>
	<string>https://playpalauthentication.firebaseio.com</string>
</dict>
</plist>